channel.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.example.org/vauchers" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="vauchers">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="vaucher" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="type"/>
              <xs:element type="xs:string" name="country"/>
              <xs:element name="days">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:byte">
                      <xs:attribute type="xs:byte" name="nights" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="transport"/>
              <xs:element type="xs:short" name="cost"/>
              <xs:element name="hotel-characteristics">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:byte" name="stars" minOccurs="0"/>
                    <xs:element type="xs:string" name="tv"/>
                    <xs:element type="xs:string" name="food" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="id" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>